@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Nunito:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    text-align: center;
    font-family: 'Nunito';
}

h1 {
    margin-top: 3%;
    font-family: 'Caprasimo';
    font-size: 200%;
}

/* Show picker */
.show-picker {
    margin: 20px;
}

.show{
    width: 20%;
    display: inline-block;
    margin-top: 1%;
    border: 3px solid white
}

.show img {
    width:100%;
    vertical-align: middle;
}

.show:hover {
    width: 21%;
    border: 3px solid red;
    margin-top: 0;
}

/* Game */

.quiz-field {
    width: 70%;
    margin: 20px auto;
    background-color: silver;
    font-size: 150%;
}

.question-number {
    float: right;
    margin-right: 20px;
}

.quiz-image img{
    width: 30%;
    margin: 15px;
}

.answer {
    display: inline-block;
    width: 40%;
    margin: 15px;
    background-color: white;
    color: grey;
    border-radius: 4px;
    border: 2px solid silver;
}

.answer:hover {
    border: 2px solid red;
    color: black;
}

.user-answer {
    background-color: red;
}

button {
    font-size:100%;
    margin: 15px;
    padding:10px;
    background-color: grey;
    border-radius: 18px;
}

.active-button {
    background-color: lime;
}
/* Result field with total score that appears in the end of the game*/
.result-field {
    width: 70%;
    margin: 0 auto;
    font-size: 250%;
    background-color: silver;
}

.score-field {
    width: 50%;
    margin: 10px auto;
    background-color: grey;
    border-radius: 8px;
    text-transform: capitalize;
}

.score-field div{
    display: inline-block;
}

.range-golden {
    background-color: gold;
}

.range-silver {
    background-color: silver;
}

.range-bronze {
    background-color: chocolate;
}

.user-data {
    font-size: 50%;
    margin-top: 20px;
}
.user-data input {
    font-size: 100%;
    border-radius: 4px;
    text-align: center;
}

.menu {
    font-size: 50%;
}

.cert-bg {
    width: 60%;
    margin: 2% 20%;
    background-color: gold;
    position: absolute;
    z-index: -1;
}
.cert-bg img {
    width: 100%;
}

.cert-text{
    width: 35%;
    margin: 10% 3% 0 42%;
    font-size: 170%;
    position: fixed;
    z-index: 2;
}