@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Nunito:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    text-align: center;
    font-family: 'Nunito';
}

h1 {
    margin-top: 2%;
    font-family: 'Caprasimo';
    font-size: 200%;
}

/* Show picker */
.show-picker {
    margin: 20px;
}

.show{
    width: 15%;
    display: inline-block;
    margin-top: 1%;
    border: 3px solid white
}

.show img {
    width:100%;
    vertical-align: middle;
}

.show:hover {
    width: 17%;
    border: 3px solid #ffad33;
    margin-top: 0;
}

.user-data {
    width: 43%;
    margin: 10px auto;
    padding: 5px;
    border: 3px solid #ffad33;
    border-radius: 8px;
    font-size: 100%;
}
.user-data input {
    font-size: 100%;
    border: 2px solid #ffc266;
    border-radius: 4px;
    text-align: center;
}

/* Game */

.quiz-field {
    width: 70%;
    margin: 20px auto;
    background-color: #e6e6e6;
    font-size: 150%;
}

.question-number {
    float: right;
    margin-right: 20px;
}

.quiz-image img{
    width: 30%;
    margin: 15px;
}

.answer {
    display: inline-block;
    width: 40%;
    margin: 15px;
    background-color: #b3ffb3;
    color: black;
    border-radius: 4px;
    border: 2px solid grey;
}

.answer:hover {
    border: 2px solid #cc6600;
    background-color: #99ff99;
    color: black;
}

.user-answer {
    background-color: #ffa64d;
}

.user-answer:hover {
    background-color: #ffa64d;
}

button {
    font-size:100%;
    margin: 15px;
    padding:10px;
    background-color: #b3b3b3;
    color: #d9d9d9;
    border-radius: 18px;
    border: 4px solid #e6e6e6;
}

.active-button {
    background-color: #80ff80;
    color: #004d00;
    border: 4px solid #e6e6e6;
}

.active-button:hover {
    border: 4px solid #99ff99;
    color: #008000;
}
/* Result field with total score that appears in the end of the game*/
.result-field {
    width: 70%;
    margin: 0 auto;
    font-size: 150%;
    background-color: #e6e6e6;
}

.top {
    width: 100%;
}

.congrat-user {
    font-size: 150%;
}

.show-img img{
    width: 60%;
    margin: 0 auto;
}

.score-field {
    width: 50%;
    margin: 0 auto;
    padding: 5px;
    background-color: grey;
    border-radius: 8px;
    text-transform: capitalize;
}

.score-field div{
    display: inline-block;
}

.range-golden {
    background-color: gold;
}

.range-silver {
    background-color: silver;
}

.range-bronze {
    background-color: chocolate;
}

.menu {
    font-size: 100%;
}
