@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Nunito:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    text-align: center;
    font-family: 'Nunito';
}

h1 {
    margin-top: 3%;
    font-family: 'Caprasimo';
    font-size: 200%;
}

/* Show picker */
.show-picker {
    margin: 20px;
}

.show{
    width: 20%;
    display: inline-block;
    margin-top: 1%;
    border: 3px solid white
}

.show img {
    width:100%;
    vertical-align: middle;
}

.show:hover {
    width: 21%;
    border: 3px solid red;
    margin-top: 0;
}

/* Game */

.quiz-field {
    width: 70%;
    margin: 20px auto;
    background-color: silver;
    font-size: 150%;
}

.question-number {
    float: right;
    margin-right: 20px;
}

.quiz-image img{
    width: 30%;
    margin: 15px;
}

.answer {
    display: inline-block;
    width: 40%;
    margin: 15px;
    background-color: white;
    color: grey;
    border-radius: 4px;
}

.answer:hover {
    background-color: pink;
    color: black;
}

.user-answer {
    background-color: red;
}

button {
    font-size:100%;
    margin: 15px;
    padding:10px;
    background-color: lime;
    border-radius: 18px;
}